/* Estilos para la página web */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap');


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
}

header {
  color: #b80f09;
  padding: 20px;
}
.titulo{
    font-family: 'Stylish', sans-serif;
    text-shadow: #000000;
    margin: 0;
    padding: 0;
    justify-content: center;
    color:#d1dad9
    
}

header img {
  display: block;
  width: 30%;
  margin: auto;
  border-radius: 10%;
}


nav {
    background-color: #3fbfa7 ;
    color: #03876f;
    padding: 1px;
    border-radius: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.upper-img{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    
}
.upper-img img{
  width: 200px;
  height: 200px;
  display: block;
  border-radius: 10%;
}
.upper-img>div{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  transition: all .8s cubic-bezier(.25,.4,.45,1.4);
  position:relative;
}
.upper-img >div:hover{
  flex:5;
  
}
.upper-img .img-3:hover img {
  animation: AnimImg1 0.5s ease 0s 1 normal forwards; 
}
.upper-img .img-2:hover img {
  animation: AnimImg1 0.5s ease 0s 1 normal forwards;
}
.upper-img .img-1:hover img {
  animation: AnimImg1 0.5s ease 0s 1 normal forwards; 
}
.upper-img .caption {
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  background-color: #fff;
  padding: 10px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  background-color: #03876f ;
  color:white;
}
.upper-img > div:hover .caption {
  bottom: 0;
  opacity: 1;
  visibility: visible;
  border-radius: 14%;
}
.upper-img .caption button {
  background-color: #ffffffd2;
  color: #03876f;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}
.upper-img .caption button:hover {
  background-color: #3dbe84;
}
@keyframes AnimImg1 {
    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    15% {
        transform: translateX(-20px) rotate(-6deg);
    }

    30% {
        transform: translateX(10px) rotate(6deg);
    }

    45% {
        transform: translateX(-10px) rotate(-3.6deg);
    }

    60% {
        transform: translateX(7px) rotate(2.4deg);
    }

    75% {
        transform: translateX(-3px) rotate(-1.2deg);
    }
}

nav ul li {
    display:inline-block;
    width: auto;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    margin: 10px;

}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

section {
    margin: 20px;
    color:white;
}

footer {
    
    color: #fff;
    padding: 10px;
    text-align: center;
}
h1 {
    text-shadow: 5px 5px 5px #000000;
    
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: linear-gradient(315deg, #7b0202 0%, #082142 74%);
}
.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  text-align: center;
  color: #ffffff;
  text-decoration: double;
  text-shadow: #000000;
  line-height: 50px;
  position: relative;
  background-image: url("2.jpg"); /* Asegúrate de que la ruta de la imagen sea correcta */
  background-size: cover;
  background-position: center;
  font-size: 18px;
  color: #ffffff; /* Color del texto */
  text-shadow: 
    -2px -2px 0 #4e4e4e, /* Sombra superior izquierda (color negro) */
    2px -2px 0 #4e4e4e,  /* Sombra superior derecha (color negro) */
    -2px 2px 0 #4e4e4e,  /* Sombra inferior izquierda (color negro) */
    2px 2px 0 #4e4e4e;
}

button {
  background-color: #3dbe84; /* Color de fondo predeterminado */
  color: #ffffff; /* Color de texto predeterminado */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:active {
  background-color: #f44336; /* Nuevo color de fondo cuando se presiona */
}


.contadores {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  text-decoration:double;
  text-shadow: #000000;
  font-size: 18px;
  color: #f5f5f5; /* Color del texto */
  

}